ELEMENTS_RPC_URL=http://127.0.0.1:18884
ELEMENTS_RPC_USER=<rpc-user>
ELEMENTS_RPC_PASSWORD=<rpc-password>
ELEMENTS_RPC_WALLET=simplicity-test
SIMC_PATH=simc
HAL_SIMPLICITY_PATH=hal-simplicity
ELEMENTS_CLI_PATH=eltc
SIMPLICITY_PRIMARY_PRIVKEY=<primary-privkey-hex>
SIMPLICITY_RELAYER_URL=http://127.0.0.1:3136
SIMPLICITY_RELAYER_API_KEY=<relayer-api-key>
SIMPLICITY_FROM_LABEL=consumer-gasless-test
SIMPLICITY_ARTIFACT=./artifact.json
